<a href="https://colab.research.google.com/github/Zora-33/Data-science-in-depression/blob/main/V2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

c = pd.read_csv(r'/content/featureSelect_200702csv.csv') 
c.head()

,Unnamed: 0,mood,age,semester,sibilings,relationship,wakeup,breakfast,launch,dinner,...,sports,exercise,video_games,study_hours,phone_hours,movies_per_week,music hours,depression,category,sleep_hours
0,0,1,24,9,3,0,11,1,16,21,...,0,0,0,2,2,0.0,0,18,1,7
1,1,1,23,11,3,1,0,0,17,23,...,1,2,1,4,0,5.0,0,1,0,20
2,2,3,19,3,0,1,9,10,15,22,...,0,1,0,3,2,0.0,0,21,2,8
3,3,2,23,13,1,0,14,15,19,0,...,0,0,3,1,0,5.0,0,23,2,11
4,4,2,22,11,1,1,11,12,15,24,...,1,1,3,2,2,1.0,4,19,1,8

In [ ]:
c.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 25 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Unnamed: 0       749 non-null    int64
 1   mood             749 non-null    int64
 2   age              749 non-null    int64
 3   semester         749 non-null    int64
 4   sibilings        749 non-null    int64
 5   relationship     749 non-null    int64
 6   wakeup           749 non-null    int64
 7   breakfast        749 non-null    int64
 8   launch           749 non-null    int64
 9   dinner           749 non-null    int64
 10  sleep            749 non-null    int64
 11  friends          749 non-null    int64
 12  hangout          749 non-null    int64
 13  social_events    749 non-null    int64
 14  pray             749 non-null    int64
 15  sports           749 non-null    int64
 16  exercise         749 non-null    int64
 17  video_games      749 non-null    int64
 18  study_hours      749 non-null    int64
 19  phone_hours      749 non-null    int64
 20  movies_per_week  749 non-null    float64
 21  music hours      749 non-null    int64
 22  depression       749 non-null    int64
 23  category         749 non-null    int64
 24  sleep_hours      749 non-null    int64
dtypes: float64(1), int64(24)
memory usage: 146.4 KB

In [ ]:
X = c.drop(['depression','category',"Unnamed: 0"],axis =1)
y = c[['category']]
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.65, random_state=42)

In [ ]:
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 749 entries, 0 to 748
Data columns (total 22 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   mood             749 non-null    int64
 1   age              749 non-null    int64
 2   semester         749 non-null    int64
 3   sibilings        749 non-null    int64
 4   relationship     749 non-null    int64
 5   wakeup           749 non-null    int64
 6   breakfast        749 non-null    int64
 7   launch           749 non-null    int64
 8   dinner           749 non-null    int64
 9   sleep            749 non-null    int64
 10  friends          749 non-null    int64
 11  hangout          749 non-null    int64
 12  social_events    749 non-null    int64
 13  pray             749 non-null    int64
 14  sports           749 non-null    int64
 15  exercise         749 non-null    int64
 16  video_games      749 non-null    int64
 17  study_hours      749 non-null    int64
 18  phone_hours      749 non-null    int64
 19  movies_per_week  749 non-null    float64
 20  music hours      749 non-null    int64
 21  sleep_hours      749 non-null    int64
dtypes: float64(1), int64(21)
memory usage: 128.9 KB

In [ ]:
from sklearn.tree import DecisionTreeClassifier
from sklearn import metrics 
dtree = DecisionTreeClassifier(max_depth=2)
dtree.fit(X_train, y_train)
y_pred = dtree.predict(X_test)
print("Descision Tree Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Descision Tree precison:",metrics.precision_score(y_test, y_pred,average = None))

Descision Tree Accuracy: 0.7494866529774127
Descision Tree precison: [0.33333333 0.75467775 0.        ]

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1318: UndefinedMetricWarning: Precision is ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))

In [ ]:
#Bagging Ensemble
from sklearn import metrics 
from sklearn.ensemble import BaggingClassifier 
from sklearn.tree import DecisionTreeClassifier
bag_clf = BaggingClassifier(DecisionTreeClassifier(), n_estimators=50, max_samples=100, bootstrap=True, n_jobs=-1)
bag_clf.fit(X_train, y_train) 
y_pred = bag_clf.predict(X_test)
print("Bagging Ensemble Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("Bagging Ensemble precison:",metrics.precision_score(y_test, y_pred,average = None))

Bagging Ensemble Accuracy: 0.728952772073922
Bagging Ensemble precison: [0.35294118 0.76576577 0.33333333]

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_bagging.py:719: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
#Random Forests
from sklearn import metrics 
from sklearn.ensemble import RandomForestClassifier
rnd_clf = RandomForestClassifier(n_estimators=50, max_leaf_nodes=16, n_jobs=-1)
rnd_clf.fit(X_train, y_train)
y_pred_rf = rnd_clf.predict(X_test)
print("Random Forests Accuracy:",metrics.accuracy_score(y_test, y_pred_rf))
print("Random Forests precison:",metrics.precision_score(y_test, y_pred,average = None))

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:5: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples,), for example using ravel().
  """

Random Forests Accuracy: 0.7494866529774127
Random Forests precison: [0.35294118 0.76576577 0.33333333]

In [ ]:
#AdaBoost 
from sklearn.ensemble import AdaBoostClassifier 
ada_clf = AdaBoostClassifier( DecisionTreeClassifier(max_depth=1), n_estimators=50,algorithm="SAMME.R", learning_rate=0.5)
ada_clf.fit(X_train, y_train)
y_pred = ada_clf.predict(X_test)
print("AdaBoost Accuracy:",metrics.accuracy_score(y_test, y_pred))
print("AdaBoost precison:",metrics.precision_score(y_test, y_pred,average = None))

AdaBoost Accuracy: 0.6714579055441479
AdaBoost precison: [0.29545455 0.75429975 0.19444444]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [ ]:
from sklearn.datasets import make_classification
from sklearn.ensemble import GradientBoostingClassifier
model = GradientBoostingClassifier()
# fit the model on the whole dataset
model.fit(X_train, y_train)
y_pred = model.predict(X_test)
print("accuricy=",metrics.accuracy_score(y_test, y_pred))
print("GradientBoosting precison:",metrics.precision_score(y_test, y_pred,average = None))

/usr/local/lib/python3.7/dist-packages/sklearn/ensemble/_gb.py:494: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

accuricy= 0.6735112936344969
GradientBoosting precison: [0.25       0.76108374 0.20689655]